appnope==0.1.0
astroid==1.5.3
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
click==6.7
conda==4.3.16
configparser==3.5.0
cycler==0.10.0
decorator==4.1.2
Django==1.11.3
enum34==1.1.6
Flask==0.12.2
idna==2.7
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.6
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
numpy==1.15.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pylint==1.7.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2017.2
requests==2.19.1
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.53
scandir==1.6
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.5.2
traitlets==4.3.2
urllib3==1.23
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.10
