* {
    /* override Semantic UI */
    font-family: 'Montserrat', sans-serif !important;
}
.wrapper{
    width: 100%;
}

body {
    background-color: #181818
}
.item {
    color: white;
}
h1 {
    color: whitesmoke;
    padding: 20px;
    border-bottom: 1px solid grey;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: whitesmoke
}
.ui.inverted.green.button {
    margin-top: 10px;
    align-content: center;
}

.ui.secondary.menu {
    padding: 20px;
}

.ui.secondary.menu p {
    color: whitesmoke;
    border-bottom: 2px solid rgb(70, 70, 70);
    padding: 2px;
}
.ui.secondary.menu img {

    margin-left: 21%;
    width: 300px;
}

.ui.five.column.grid {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.genres {
    align-content: center;
    padding-left: 40px;
    padding-right: 10px;
}

.genres h1 {
    padding: 10px;
}

.ui.search {
    margin-left: 84%;
}

.prompt {
    width: 200px;
}

.track_data {
    height: 100px;
}

.ui.search>.results {
    left: -38%;
}
.ui.center.aligned.segment img {
    width: 170px;
    height: 170px;
}