<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Track Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/track.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/track.css' %}">
</head>

<body>
<div class="wrapper">
    <div class="ui secondary menu">
        <a href="/spotify" class="active item">
            <p>Home</p>
        </a>
        <a href="/spotify/user" class="item">
            <p>{{person.name}}</p>
        </a>
        <img src="{% static 'images/Spotify_Logo_RGB_Green.png' %}">
        <div class="item">
                <div id="#search" class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search songs...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
                </div>
            </div>
        <div class="right menu">
            <a href="/spotify/logout" class="ui item">
                <p>Logout</p>
            </a>
        </div>
    </div>
    </div>
    <data value="{{ track_id }}"></data>
    <div class="ui center aligned text container">
        <h1>Now Playing</h1>
        <img src="" id="album-picture" class="ui centered large image">
        <h1 class='ui header' id="artist-name"></h1>
        <h2 class="ui header" id="album-title"></h2>
        <h2 class="ui header" id="track-title"></h2>
        <audio controls id="audio">
        </audio>
    </div>
    <div class="ui center aligned text container">
    <div id='likebutton'>

    </div>
    <h1>Related Artists</h1>
    <div class="ui five column grid" id="similar-artists"></div>
</div>
</body>

</html>