<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="Stylesheet" href="{% static 'css/user.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js'></script>
    <script src="{% static 'js/user.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <div id='wrapper'>
        <div class="ui secondary  menu">
            <a href="/spotify" class="active item">
                <p>Home</p>
            </a>
            <a href="/spotify/user" class="item">
                <p>{{User.name}}</p>
            </a>
            <img src="{% static 'images/Spotify_Logo_RGB_Green.png' %}">
            <div class="item">
                    <div id="#search" class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search songs...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                    </div>
                </div>
                <div class="right menu">
                    <a href="/spotify/logout" class="ui item">
                        <p>Logout</p>
                    </a>
            </div>
        </div>
        <div id="profile"></div>
        <div class="ui card">
            <a class="image">
            <img src="{% static 'images/roger.jpg' %}">
            </a>
            <div class="content">
            <a class="header">{{User.name}}</a>
            <div class="meta">
                <a>Probably likes music</a>
            </div>
            </div>
        </div>
        <data value='{{Song}}'></data>
        <data id= 'user' value'{{User}}'></data>
        <div class='ui five coloumn grid'>
            <div id="likedsongs">
            <h1>Added Songs</h1>
            </div>
        </div>
    </div>
</body>
</html>