<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" type="text/css">
    {% load static %}
    <link href="{% static 'login_registration/css/login.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="ui one item menu">
        <div class="item">
          <a href="/">
            <img id="logo" src="{% static 'login_registration/images/Spotify_Logo_RGB_Green.png' %}">
          </a>
        </div>
      </div>
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          
          <form class="ui large form" action="/login" method="POST">
            {% csrf_token %}
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" placeholder="E-mail address">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <button class="ui fluid large green submit button">Login</button>
            </div>
      
            <div class="ui {% if errors %} visible {% endif %} error message">
              <ul class="list">
                {% for error in errors %}
                  <li>{{error}}</li>
                {% endfor %}
              </ul>
            </div>
      
          </form>
          <div class="ui message">
            Don't have an account? <a href="/registration">Sign Up</a>
          </div>
        </div>
      </div>
</body>
</html>